<launch>
  <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
      name="laser_filter">
    <rosparam command="load" file="$(find waiter_robot_description_pkg)/config/my_laser_config.yaml" />
    <!-- <remap from="scan" to="base_scan" /> -->
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0.28 0.0 0.29 0 0 0  /base_link /laser"/>

</launch>