<launch>
<!-- run hardware for our robot -->
  <!-- <include file="$(find waiter_robot_description_pkg)/launch/laser_and_filter_180.launch"/> -->
  <include file="$(find hoverboard_driver)/launch/hoverboard.launch"/>
  <!-- <include file="$(find ros_imu_bno055)/launch/imu.launch"/> -->
<!-- run description for real robot -->
  <include file="$(find waiter_robot_description_pkg)/launch/robot_descripion_real.launch"/>
<!-- run ekf pose for estimate odom real robot -->
  <!-- <include file="$(find waiter_robot_filter_odom_pkg)/launch/robot_localization_my_conf.launch"/> -->


  
</launch>